#container.dark {
  min-width: 100%;
  margin: 0 !important;
  background-color: #191a1f;
  color: #fff !important;
  padding: 10px 50px;
}

#container.h-50 {
  height: 65vh !important;
}

#footerItem li {
  color: #666 !important;
  cursor: pointer;
}

#footerItem li.pos {
  position: relative;
  top: -8px;
  right: -10px;
  width: 50px;
  height: 20px;
  background-color: crimson;
  color: #fff !important;
  display: grid;
  place-content: center;
  border-radius: 4px;
}

#footerItem li:hover {
  color: blue !important;
}

#footerItem {
  list-style-type: none;
}

a {
  border: none !important;
  padding: 5px 15px !important;
  border-radius: 5px;
  transition: all .5s ease-out;
}

a.blue_2 {
  background-color: rgba(0, 0, 255, 0.1) !important;
}

a:hover.blue_2 {
  background-color: rgb(0, 0, 255) !important;
  color: #fff;
}

a.orange_2 {
  background-color: rgba(255, 166, 0, 0.1) !important;
  color: orange;
}

a:hover.orange_2 {
  color: #000 !important;
  background-color: orange !important;
}

a.green_2 {
  background-color: rgba(0, 128, 0, 0.1) !important;
  color: #036936;
}

a:hover.green_2 {
  color: #fff;
  background-color: #036936 !important;
}

a.crimson_2 {
  background-color: rgba(220, 20, 60, 0.1) !important;
  color: crimson;
}

a:hover.crimson_2 {
  color: #fff;
  background-color: crimson !important;
}

a.light_blue {
  background-color: rgba(0, 52, 115, 0.2);
  color: #1b77c7;
}

a:hover.light_blue {
  color: #fff;
  background-color: #1b77c7 !important;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.fw {
  font-weight: 500;
}

#socialIcon {
  color: #999;
  font-weight: 500;
}

#socialIcon:hover {
  color: blue;
}


.socialIcon {
  border-radius: 2px !important;
  font-size: 12px;
  padding: 0 !important;
  background: transparent !important;
}

.bgBlue_1 {
  color: #1b77c7 !important;
}

.bgBlue_2 {
  color: #71d5fc !important;
}

.bgBlue_3 {
  color: #245f92 !important;
}

.bgCrimson {
  color: crimson !important;
}